In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
t_user = pd.read_csv('initdata/t_user.csv')
t_click = pd.read_csv('initdata/t_click.csv')
t_order = pd.read_csv('initdata/t_order.csv')
t_loan = pd.read_csv('initdata/t_loan.csv')
t_loan_sum = pd.read_csv('initdata/t_loan_sum.csv')

In [35]:
t_click

            uid           click_time  pid  param
0         12177  2016-10-04 12:22:30    1     19
1         29226  2016-10-04 12:18:42    6      1
2         37351  2016-10-04 12:18:41   10     16
3         82053  2016-10-04 12:18:16    1     40
4         82053  2016-10-04 12:18:46    1     40
5         27393  2016-10-03 10:58:17   10     30
6         49865  2016-10-04 10:23:57   10     28
7         78082  2016-10-04 12:18:44   10     16
8         82053  2016-10-04 12:18:47    1     19
9         82053  2016-10-04 12:19:14    1     19
10        82053  2016-10-04 12:19:06    1     19
11        87889  2016-10-04 12:19:04   10     28
12        49247  2016-10-04 12:19:15    6      1
13        49247  2016-10-04 12:19:17    5     10
14         6838  2016-10-04 12:18:47    6      1
15        84185  2016-10-04 12:19:24   10     16
16        59149  2016-10-04 12:19:22   10     28
17        76242  2016-10-04 12:19:33   10     16
18        27393  2016-10-04 12:20:10   10     16
19        17405  2016-10-04 10:45:47    8      1
20        17405  2016-10-04 10:45:50    8      1
21         4231  2016-10-04 12:18:33   10     28
22         9692  2016-10-04 12:20:37   10     28
23        32630  2016-10-04 12:20:26   10     28
24         4072  2016-10-04 12:19:45    1     19
25        32511  2016-09-27 12:07:44    8      1
26         9760  2016-10-04 02:18:22    1     31
27        70487  2016-10-04 12:21:28   10     16
28        13454  2016-10-04 12:21:22   10     28
29        13454  2016-10-04 12:21:02   10     28
...         ...                  ...  ...    ...
10932986  44994  2016-10-09 11:10:18    8      2
10932987  55909  2016-10-09 11:10:28    7      8
10932988  36232  2016-10-05 21:28:17   10     28
10932989  54496  2016-10-09 11:10:00    8      3
10932990  22957  2016-10-09 11:10:40   10     28
10932991  78349  2016-10-09 08:08:40   10     16
10932992  53411  2016-10-09 11:12:06   10     16
10932993  87374  2016-10-09 11:12:05    5     13
10932994   7852  2016-10-09 11:12:15   10     16
10932995   7852  2016-10-09 11:12:05    8      2
10932996   2879  2016-10-09 11:12:46    8      1
10932997  61286  2016-10-09 11:12:54    3     11
10932998  61993  2016-10-09 11:12:51    4      1
10932999  45497  2016-10-09 11:13:29    8      1
10933000  24298  2016-10-09 11:12:33    8      1
10933001  84805  2016-10-09 11:12:58   10     16
10933002  53584  2016-10-09 11:13:43    8      1
10933003  65865  2016-10-09 11:13:42   10     16
10933004  65865  2016-10-09 11:13:29   10     28
10933005  60422  2016-10-09 11:14:49    1      6
10933006  84825  2016-10-09 11:14:18   10     28
10933007  68517  2016-10-09 11:14:13    9      1
10933008  60422  2016-10-09 11:14:55    1     19
10933009  28417  2016-10-09 11:15:17   10     16
10933010  49776  2016-10-09 11:15:58    8      1
10933011  49776  2016-10-09 11:16:05    8      1
10933012  59092  2016-10-09 11:15:58    1     40
10933013  68517  2016-10-09 11:15:58    8      1
10933014  66826  2016-10-09 11:15:43    7      7
10933015  70759  2016-10-07 21:32:10    8      1

[10933016 rows x 4 columns]

In [49]:
t_click['pid'].astype('str')+ '_'+t_click['param'].astype('str')

0            1_19
1             6_1
2           10_16
3            1_40
4            1_40
5           10_30
6           10_28
7           10_16
8            1_19
9            1_19
10           1_19
11          10_28
12            6_1
13           5_10
14            6_1
15          10_16
16          10_28
17          10_16
18          10_16
19            8_1
20            8_1
21          10_28
22          10_28
23          10_28
24           1_19
25            8_1
26           1_31
27          10_16
28          10_28
29          10_28
            ...
10932986      8_2
10932987      7_8
10932988    10_28
10932989      8_3
10932990    10_28
10932991    10_16
10932992    10_16
10932993     5_13
10932994    10_16
10932995      8_2
10932996      8_1
10932997     3_11
10932998      4_1
10932999      8_1
10933000      8_1
10933001    10_16
10933002      8_1
10933003    10_16
10933004    10_28
10933005      1_6
10933006    10_28
10933007      9_1
10933008     1_19
10933009    10_16
10933010      8_1
10933011      8_1
10933012     1_40
10933013      8_1
10933014      7_7
10933015      8_1
Length: 10933016, dtype: object

In [32]:
pid_param = pd.DataFrame(t_click.groupby(['pid','param'])['pid'].unique())

In [33]:
pid_param['pid_param']=pid_param.index

In [34]:
pid_param

            pid pid_param
pid param
1   1       [1]    (1, 1)
    2       [1]    (1, 2)
    3       [1]    (1, 3)
    4       [1]    (1, 4)
    5       [1]    (1, 5)
    6       [1]    (1, 6)
    7       [1]    (1, 7)
    8       [1]    (1, 8)
    9       [1]    (1, 9)
    10      [1]   (1, 10)
    11      [1]   (1, 11)
    12      [1]   (1, 12)
    13      [1]   (1, 13)
    14      [1]   (1, 14)
    15      [1]   (1, 15)
    16      [1]   (1, 16)
    17      [1]   (1, 17)
    18      [1]   (1, 18)
    19      [1]   (1, 19)
    20      [1]   (1, 20)
    21      [1]   (1, 21)
    22      [1]   (1, 22)
    23      [1]   (1, 23)
    24      [1]   (1, 24)
    25      [1]   (1, 25)
    26      [1]   (1, 26)
    27      [1]   (1, 27)
    28      [1]   (1, 28)
    29      [1]   (1, 29)
    30      [1]   (1, 30)
...         ...       ...
10  9      [10]   (10, 9)
    10     [10]  (10, 10)
    11     [10]  (10, 11)
    12     [10]  (10, 12)
    13     [10]  (10, 13)
    14     [10]  (10, 14)
    15     [10]  (10, 15)
    16     [10]  (10, 16)
    17     [10]  (10, 17)
    18     [10]  (10, 18)
    19     [10]  (10, 19)
    20     [10]  (10, 20)
    21     [10]  (10, 21)
    22     [10]  (10, 22)
    23     [10]  (10, 23)
    24     [10]  (10, 24)
    25     [10]  (10, 25)
    26     [10]  (10, 26)
    27     [10]  (10, 27)
    28     [10]  (10, 28)
    29     [10]  (10, 29)
    30     [10]  (10, 30)
    31     [10]  (10, 31)
    32     [10]  (10, 32)
    33     [10]  (10, 33)
    34     [10]  (10, 34)
    35     [10]  (10, 35)
    36     [10]  (10, 36)
    37     [10]  (10, 37)
    38     [10]  (10, 38)

[173 rows x 2 columns]

In [9]:
order_user = pd.merge(t_order,t_user,how='outer',on='uid')

In [11]:
order_user['buy_time_format'] = pd.to_datetime(order_user['buy_time'])

In [12]:
order_user = order_user.set_index('buy_time_format')

In [17]:
order_user11 = order_user['2016-11']

In [26]:
order_user11

,uid,buy_time,price,qty,cate_id,discount,age,sex,active_date,limit
buy_time_format,,,,,,,,,,
2016-11-23,45370,2016-11-23,3.995009,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,3.292030,1.0,22.0,2.133656,40,1,2016-06-20,5.722768
2016-11-07,45370,2016-11-07,2.795889,3.0,22.0,1.920573,40,1,2016-06-20,5.722768
2016-11-02,45370,2016-11-02,1.484222,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,2.441761,1.0,22.0,0.682606,40,1,2016-06-20,5.722768
2016-11-27,45370,2016-11-27,2.512089,4.0,1.0,2.423175,40,1,2016-06-20,5.722768
2016-11-10,45370,2016-11-10,3.995009,2.0,22.0,2.307372,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,4.885722,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
2016-11-10,45370,2016-11-10,2.241908,20.0,22.0,2.979792,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,2.533516,1.0,1.0,0.000000,40,1,2016-06-20,5.722768
2016-11-10,45370,2016-11-10,2.241908,3.0,22.0,1.829483,40,1,2016-06-20,5.722768
2016-11-24,45370,2016-11-24,2.196509,1.0,1.0,1.365212,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,2.415583,1.0,1.0,1.358270,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,1.914898,2.0,1.0,1.819594,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,2.466881,2.0,22.0,0.000000,40,1,2016-06-20,5.722768
2016-11-24,45370,2016-11-24,2.466881,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,2.533516,1.0,1.0,0.000000,40,1,2016-06-20,5.722768
2016-11-27,45370,2016-11-27,2.478495,1.0,1.0,0.000000,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,1.722706,1.0,1.0,1.292030,40,1,2016-06-20,5.722768
2016-11-24,45370,2016-11-24,2.021975,1.0,1.0,1.113283,40,1,2016-06-20,5.722768
2016-11-24,45370,2016-11-24,2.081412,1.0,1.0,1.336965,40,1,2016-06-20,5.722768
2016-11-09,45370,2016-11-09,2.021975,1.0,22.0,1.113283,40,1,2016-06-20,5.722768
2016-11-27,45370,2016-11-27,2.512089,4.0,1.0,2.423175,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,3.024369,1.0,22.0,2.133656,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,3.995009,2.0,22.0,2.979792,40,1,2016-06-20,5.722768
2016-11-23,45370,2016-11-23,4.584059,1.0,22.0,3.402718,40,1,2016-06-20,5.722768
2016-11-17,45370,2016-11-17,2.861353,3.0,22.0,2.070415,40,1,2016-06-20,5.722768
2016-11-17,45370,2016-11-17,2.722706,2.0,20.0,2.430677,40,1,2016-06-20,5.722768
2016-11-24,45370,2016-11-24,2.196509,1.0,1.0,1.365212,40,1,2016-06-20,5.722768
2016-11-22,45370,2016-11-22,1.914898,4.0,1.0,2.355471,40,1,2016-06-20,5.722768
...,...,...,...,...,...,...,...,...,...,...
2016-11-28,62356,2016-11-28,2.441761,1.0,26.0,0.000000,30,1,2015-12-17,5.722768
2016-11-10,18358,2016-11-10,4.957629,1.0,36.0,3.525034,25,1,2016-04-25,6.292055
2016-11-10,18358,2016-11-10,0.006182,1.0,36.0,0.000000,25,1,2016-04-25,6.292055
2016-11-30,37024,2016-11-30,4.488539,1.0,20.0,3.328234,30,1,2016-06-30,5.292154
2016-11-22,52773,2016-11-22,3.543959,1.0,36.0,2.979792,35,1,2016-01-19,5.722768
2016-11-14,7381,2016-11-14,3.292030,1.0,22.0,0.000000,35,1,2015-12-23,5.974677
2016-11-27,28070,2016-11-27,2.861353,1.0,15.0,0.000000,30,1,2016-06-19,5.974677
2016-11-09,74947,2016-11-09,4.719279,1.0,22.0,2.867536,35,1,2016-02-16,5.292154
2016-11-10,9674,2016-11-10,2.816262,1.0,22.0,1.974636,40,1,2016-05-22,5.292154
2016-11-04,20506,2016-11-04,2.665812,1.0,20.0,1.977219,25,1,2016-03-29,5.292154
2016-11-10,56831,2016-11-10,4.576637,1.0,2.0,3.548088,30,1,2016-03-30,6.292055
2016-11-12,56831,2016-11-12,3.187385,1.0,1.0,2.937291,30,1,2016-03-30,6.292055
2016-11-17,71039,2016-11-17,3.351249,1.0,10.0,0.000000,30,1,2016-01-09,6.292055
2016-11-27,1212,2016-11-27,2.647676,12.0,9.0,0.000000,35,1,2016-04-23,6.292055
2016-11-28,35689,2016-11-28,3.541885,1.0,25.0,2.920573,30,2,2016-05-06,5.292154
2016-11-07,25204,2016-11-07,3.452651,1.0,22.0,2.133656,35,1,2016-05-21,5.974677
2016-11-22,88800,2016-11-22,3.338120,1.0,20.0,2.867536,40,2,2016-03-30,5.974677
2016-11-02,39562,2016-11-02,3.153383,1.0,36.0,2.546027,30,1,2016-05-21,6.292055
2016-11-10,71436,2016-11-10,3.478495,1.0,22.0,0.000000,30,1,2016-05-21,6.153414
2016-11-10,31850,2016-11-10,2.861353,1.0,33.0,0.000000,35,1,2016-04-01,5.292154
2016-11-12,46277,2016-11-12,3.226566,1.0,36.0,2.730425,25,1,2016-06-30,6.292055
2016-11-28,65905,2016-11-28,3.963139,1.0,18.0,3.848800,30,1,2016-02-09,5.292154
2016-11-29,77861,2016-11-29,1.760374,1.0,9.0,0.000000,30,1,2016-03-16,6.153414
2016-11-29,77861,2016-11-29,1.760374,1.0,9.0,0.000000,30,1,2016-03-16,6.153414
2016-11-10,29411,2016-11-10,3.543959,1.0,36.0,3.029130,30,2,2016-03-29,5.292154
2016-11-09,87001,2016-11-09,0.006182,36400.0,26.0,0.000000,25,1,2016-04-14,6.292055
2016-11-18,13801,2016-11-18,2.855108,2.0,15.0,2.843708,35,1,2016-03-17,5.974677
2016-11-15,69181,2016-11-15,1.891668,1.0,20.0,0.000000,25,1,2016-03-10,5.722768
2016-11-15,69181,2016-11-15,3.632597,1.0,20.0,3.313404,25,1,2016-03-10,5.722768
2016-11-28,22527,2016-11-28,3.260159,1.0,36.0,1.489896,45,1,2016-03-25,5.722768

In [28]:
order_user11_sum = order_user11.groupby('uid')['price','qty','discount'].sum()

In [10]:
order_user

,uid,buy_time,price,qty,cate_id,discount,age,sex,active_date,limit
0,45370,2016-11-23,3.995009,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
1,45370,2016-10-01,3.292030,1.0,22.0,2.861974,40,1,2016-06-20,5.722768
2,45370,2016-10-16,2.441761,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
3,45370,2016-09-29,2.802071,2.0,44.0,0.000000,40,1,2016-06-20,5.722768
4,45370,2016-09-01,2.788947,1.0,1.0,2.788947,40,1,2016-06-20,5.722768
5,45370,2016-10-01,1.200122,1.0,36.0,0.861353,40,1,2016-06-20,5.722768
6,45370,2016-11-23,3.292030,1.0,22.0,2.133656,40,1,2016-06-20,5.722768
7,45370,2016-10-03,4.657242,1.0,22.0,3.886916,40,1,2016-06-20,5.722768
8,45370,2016-11-07,2.795889,3.0,22.0,1.920573,40,1,2016-06-20,5.722768
9,45370,2016-08-09,2.305855,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
10,45370,2016-11-02,1.484222,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
11,45370,2016-08-14,1.329698,1.0,1.0,1.251930,40,1,2016-06-20,5.722768
12,45370,2016-08-17,2.722706,4.0,11.0,2.730425,40,1,2016-06-20,5.722768
13,45370,2016-09-28,4.781926,1.0,22.0,3.797268,40,1,2016-06-20,5.722768
14,45370,2016-08-05,2.191051,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
15,45370,2016-08-05,2.131649,10.0,22.0,2.867536,40,1,2016-06-20,5.722768
16,45370,2016-09-21,3.292030,1.0,22.0,2.730425,40,1,2016-06-20,5.722768
17,45370,2016-10-08,3.191051,1.0,1.0,2.830136,40,1,2016-06-20,5.722768
18,45370,2016-08-06,4.578207,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
19,45370,2016-10-16,3.292030,1.0,22.0,2.133656,40,1,2016-06-20,5.722768
20,45370,2016-08-16,3.117000,1.0,1.0,0.000000,40,1,2016-06-20,5.722768
21,45370,2016-09-29,1.760374,2.0,44.0,1.593693,40,1,2016-06-20,5.722768
22,45370,2016-08-05,3.194695,1.0,44.0,2.442981,40,1,2016-06-20,5.722768
23,45370,2016-10-19,3.603179,2.0,22.0,0.000000,40,1,2016-06-20,5.722768
24,45370,2016-08-11,2.305855,5.0,22.0,2.730425,40,1,2016-06-20,5.722768
25,45370,2016-08-18,2.292030,1.0,33.0,2.187753,40,1,2016-06-20,5.722768
26,45370,2016-08-09,2.226566,2.0,22.0,0.000000,40,1,2016-06-20,5.722768
27,45370,2016-10-03,4.260159,1.0,22.0,3.418124,40,1,2016-06-20,5.722768
28,45370,2016-09-13,1.478495,1.0,1.0,0.682606,40,1,2016-06-20,5.722768
29,45370,2016-10-06,3.543959,1.0,22.0,0.000000,40,1,2016-06-20,5.722768
...,...,...,...,...,...,...,...,...,...,...
5402497,26267,NaN,NaN,NaN,NaN,NaN,30,1,2016-04-15,5.722768
5402498,8798,NaN,NaN,NaN,NaN,NaN,35,1,2016-01-04,5.722768
5402499,25417,NaN,NaN,NaN,NaN,NaN,30,1,2016-01-28,5.292154
5402500,84541,NaN,NaN,NaN,NaN,NaN,25,1,2016-04-05,5.292154
5402501,34265,NaN,NaN,NaN,NaN,NaN,45,1,2016-02-16,5.974677
5402502,68032,NaN,NaN,NaN,NaN,NaN,35,2,2015-12-31,5.292154
5402503,55368,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-29,5.974677
5402504,21789,NaN,NaN,NaN,NaN,NaN,30,2,2016-05-03,5.722768
5402505,885,NaN,NaN,NaN,NaN,NaN,50,1,2016-05-21,5.722768
5402506,89302,NaN,NaN,NaN,NaN,NaN,30,2,2016-03-29,5.722768
5402507,23504,NaN,NaN,NaN,NaN,NaN,25,1,2016-06-23,5.292154
5402508,10533,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-01,5.722768
5402509,12806,NaN,NaN,NaN,NaN,NaN,30,1,2016-02-17,6.292055
5402510,70295,NaN,NaN,NaN,NaN,NaN,35,2,2016-05-27,6.292055
5402511,83156,NaN,NaN,NaN,NaN,NaN,45,1,2016-01-28,5.974677
5402512,4863,NaN,NaN,NaN,NaN,NaN,35,1,2016-05-22,5.292154
5402513,29813,NaN,NaN,NaN,NaN,NaN,30,1,2016-03-29,5.292154
5402514,75052,NaN,NaN,NaN,NaN,NaN,30,1,2016-02-03,5.974677
5402515,33615,NaN,NaN,NaN,NaN,NaN,25,1,2015-12-27,5.292154
5402516,67061,NaN,NaN,NaN,NaN,NaN,30,1,2016-06-09,6.292055
5402517,49024,NaN,NaN,NaN,NaN,NaN,35,1,2016-03-21,6.153414
5402518,70481,NaN,NaN,NaN,NaN,NaN,30,1,2016-01-30,5.292154
5402519,90162,NaN,NaN,NaN,NaN,NaN,35,1,2016-06-03,5.722768
5402520,79564,NaN,NaN,NaN,NaN,NaN,25,1,2016-02-08,5.974677
5402521,68612,NaN,NaN,NaN,NaN,NaN,30,2,2016-06-28,6.292055
5402522,44372,NaN,NaN,NaN,NaN,NaN,35,2,2016-03-28,5.722768
5402523,89053,NaN,NaN,NaN,NaN,NaN,40,2,2016-05-01,6.292055
5402524,39144,NaN,NaN,NaN,NaN,NaN,35,1,2016-02-16,5.292154
5402525,50224,NaN,NaN,NaN,NaN,NaN,30,2,2016-03-29,5.292154
5402526,66944,NaN,NaN,NaN,NaN,NaN,35,1,2016-04-20,5.292154

In [62]:
len(t_click['uid'].unique())

78439

In [63]:
len(t_click['uid'])

10933016

In [65]:
len(t_order['uid'])

5400778

In [66]:
t_loan = pd.read_csv('/Users/skyamz/Documents/JDD比赛/Loan_Forecasting_Qualification/t_loan.csv')

In [67]:
len(t_loan['uid'])

202902

In [68]:
t_loan_sum = pd.read_csv('/Users/skyamz/Documents/JDD比赛/Loan_Forecasting_Qualification/t_loan_sum.csv')

In [69]:
len(t_loan_sum['uid'])

19197

In [37]:
user_click = pd.merge(t_user,t_click,how='inner',on='uid')

In [58]:
user_click

,uid,age,sex,active_date,limit,click_time,pid,param
0,26308,30,1,2016-02-16,5.974677,2016-08-29 00:16:52,10,28
1,26308,30,1,2016-02-16,5.974677,2016-11-14 11:14:34,8,1
2,26308,30,1,2016-02-16,5.974677,2016-11-14 11:14:46,8,1
3,26308,30,1,2016-02-16,5.974677,2016-09-06 07:51:03,7,9
4,26308,30,1,2016-02-16,5.974677,2016-09-07 21:49:43,10,28
5,26308,30,1,2016-02-16,5.974677,2016-10-05 17:08:27,10,28
6,26308,30,1,2016-02-16,5.974677,2016-10-05 17:09:01,10,16
7,26308,30,1,2016-02-16,5.974677,2016-08-25 21:51:42,2,4
8,26308,30,1,2016-02-16,5.974677,2016-08-25 21:52:50,8,1
9,26308,30,1,2016-02-16,5.974677,2016-08-25 21:52:39,8,1
10,26308,30,1,2016-02-16,5.974677,2016-11-26 08:18:44,10,28
11,26308,30,1,2016-02-16,5.974677,2016-11-26 08:20:00,10,28
12,26308,30,1,2016-02-16,5.974677,2016-10-05 17:06:26,10,28
13,26308,30,1,2016-02-16,5.974677,2016-09-06 07:49:53,10,28
14,26308,30,1,2016-02-16,5.974677,2016-10-11 17:25:34,10,28
15,26308,30,1,2016-02-16,5.974677,2016-10-27 12:36:19,10,28
16,26308,30,1,2016-02-16,5.974677,2016-10-25 21:33:46,7,7
17,26308,30,1,2016-02-16,5.974677,2016-10-25 21:42:02,7,8
18,26308,30,1,2016-02-16,5.974677,2016-10-25 21:42:04,7,2
19,26308,30,1,2016-02-16,5.974677,2016-08-25 21:56:07,10,16
20,26308,30,1,2016-02-16,5.974677,2016-08-25 21:56:02,10,16
21,26308,30,1,2016-02-16,5.974677,2016-08-10 12:31:28,10,16
22,26308,30,1,2016-02-16,5.974677,2016-08-10 12:31:27,10,16
23,26308,30,1,2016-02-16,5.974677,2016-08-10 12:30:47,10,28
24,26308,30,1,2016-02-16,5.974677,2016-08-11 20:18:16,10,28
25,26308,30,1,2016-02-16,5.974677,2016-08-11 20:26:33,8,1
26,26308,30,1,2016-02-16,5.974677,2016-10-31 15:31:48,10,28
27,26308,30,1,2016-02-16,5.974677,2016-10-31 15:36:36,10,28
28,26308,30,1,2016-02-16,5.974677,2016-10-31 15:46:13,1,34
29,26308,30,1,2016-02-16,5.974677,2016-10-31 15:47:31,10,16
...,...,...,...,...,...,...,...,...
10932986,10005,30,1,2015-12-17,5.722768,2016-11-15 10:59:39,10,16
10932987,10005,30,1,2015-12-17,5.722768,2016-09-14 11:02:08,10,16
10932988,10005,30,1,2015-12-17,5.722768,2016-09-30 14:07:33,10,16
10932989,10005,30,1,2015-12-17,5.722768,2016-10-23 19:22:08,8,3
10932990,10005,30,1,2015-12-17,5.722768,2016-09-24 09:24:01,10,16
10932991,10005,30,1,2015-12-17,5.722768,2016-11-15 10:59:12,10,28
10932992,10005,30,1,2015-12-17,5.722768,2016-10-04 11:00:25,10,16
10932993,10005,30,1,2015-12-17,5.722768,2016-09-24 09:24:35,10,30
10932994,10005,30,1,2015-12-17,5.722768,2016-10-23 19:26:49,10,16
10932995,10005,30,1,2015-12-17,5.722768,2016-10-23 19:26:22,2,5
10932996,10005,30,1,2015-12-17,5.722768,2016-10-23 19:26:21,2,4
10932997,10005,30,1,2015-12-17,5.722768,2016-10-23 19:21:47,8,1
10932998,10005,30,1,2015-12-17,5.722768,2016-10-23 19:22:02,8,1
10932999,10005,30,1,2015-12-17,5.722768,2016-09-30 14:07:40,10,16
10933000,10005,30,1,2015-12-17,5.722768,2016-11-07 21:27:17,10,16
10933001,10005,30,1,2015-12-17,5.722768,2016-11-07 21:27:43,10,16
10933002,10005,30,1,2015-12-17,5.722768,2016-11-07 21:27:00,8,1
10933003,10005,30,1,2015-12-17,5.722768,2016-08-31 10:54:55,10,16
10933004,10005,30,1,2015-12-17,5.722768,2016-08-04 09:58:00,10,28
10933005,10005,30,1,2015-12-17,5.722768,2016-09-24 09:23:54,10,28
10933006,10005,30,1,2015-12-17,5.722768,2016-11-19 12:57:55,10,28
10933007,10005,30,1,2015-12-17,5.722768,2016-10-23 19:27:16,10,16
10933008,10005,30,1,2015-12-17,5.722768,2016-10-23 19:27:25,10,16
10933009,10005,30,1,2015-12-17,5.722768,2016-08-31 10:54:42,10,16
10933010,10005,30,1,2015-12-17,5.722768,2016-08-31 10:54:28,10,16
10933011,10005,30,1,2015-12-17,5.722768,2016-11-19 19:23:14,10,16
10933012,10005,30,1,2015-12-17,5.722768,2016-11-19 19:22:47,10,28
10933013,10005,30,1,2015-12-17,5.722768,2016-11-15 10:59:57,10,16
10933014,10005,30,1,2015-12-17,5.722768,2016-11-15 10:59:24,10,16
10933015,10005,30,1,2015-12-17,5.722768,2016-09-14 11:02:18,10,16

In [40]:
isclick = user_click['uid'].unique()

In [51]:
not_click = []
for i in t_user['uid']:
    if i not in isclick:
        not_click.append(i)

In [50]:
78209 not in isclick

True

In [53]:
len(not_click)

12554

In [54]:
len(isclick)

78439

In [55]:
12554+78439

90993

In [56]:
len(t_user['uid'])

90993

In [57]:
not_click

[78209,
 31333,
 44467,
 56754,
 57116,
 27555,
 61037,
 68554,
 84626,
 38199,
 79958,
 13246,
 12951,
 73140,
 27274,
 63438,
 19959,
 24466,
 66292,
 34309,
 56006,
 69143,
 21254,
 69435,
 13441,
 50842,
 35089,
 15472,
 51191,
 50569,
 73035,
 15511,
 18464,
 32710,
 44449,
 90767,
 88576,
 86376,
 15608,
 90673,
 13800,
 73447,
 16149,
 53781,
 7152,
 54176,
 36562,
 76734,
 25928,
 69663,
 3980,
 49425,
 71307,
 80014,
 40164,
 69244,
 78923,
 49254,
 87107,
 5474,
 49850,
 12972,
 12419,
 9379,
 87477,
 39590,
 25698,
 15,
 69621,
 59236,
 21473,
 27087,
 24348,
 62298,
 60419,
 20113,
 18770,
 65345,
 9529,
 1082,
 32532,
 78352,
 46104,
 71118,
 24864,
 67967,
 84277,
 48421,
 57151,
 86418,
 57621,
 39007,
 89854,
 5321,
 42820,
 15586,
 60977,
 70222,
 19159,
 11189,
 20689,
 22668,
 67700,
 75534,
 56966,
 22948,
 31969,
 48465,
 38309,
 14615,
 88087,
 54654,
 82129,
 69013,
 35897,
 56500,
 12406,
 33825,
 54244,
 47563,
 4251,
 64736,
 62761,
 17375,
 70103,
 10583,
 85024,
 56127,
 56928,
 18658,
 85855,
 32347,
 24944,
 3623,
 17946,
 26973,
 1392,
 64568,
 29104,
 81621,
 58886,
 66971,
 35996,
 21523,
 6221,
 30372,
 21643,
 32648,
 81773,
 46481,
 59064,
 17680,
 20198,
 44354,
 8551,
 60413,
 69474,
 37709,
 64636,
 3571,
 1466,
 82154,
 66181,
 60190,
 3068,
 52309,
 43665,
 47957,
 6328,
 36706,
 57275,
 27304,
 50540,
 49353,
 44819,
 48103,
 5653,
 77067,
 25993,
 76679,
 4027,
 53003,
 71202,
 71944,
 64346,
 14086,
 53783,
 35241,
 64857,
 13553,
 38748,
 73935,
 54391,
 4444,
 77914,
 49200,
 53023,
 3575,
 11313,
 55593,
 82727,
 42461,
 76670,
 59303,
 16869,
 53634,
 82533,
 21303,
 36506,
 46631,
 5912,
 20397,
 12185,
 10967,
 31411,
 42692,
 54525,
 32043,
 70587,
 2970,
 52615,
 7158,
 54694,
 6109,
 45527,
 88084,
 77596,
 80062,
 74381,
 28466,
 16542,
 7670,
 4941,
 43955,
 58659,
 43639,
 13906,
 36892,
 39610,
 23480,
 66107,
 19111,
 6797,
 84504,
 8895,
 82336,
 57398,
 39394,
 72838,
 61588,
 68098,
 55053,
 17897,
 53570,
 11605,
 57442,
 40451,
 20837,
 77639,
 24512,
 35494,
 20939,
 88559,
 31385,
 17374,
 36783,
 27420,
 49408,
 32008,
 54495,
 3826,
 49894,
 77783,
 8276,
 65132,
 37327,
 12872,
 4403,
 65840,
 64228,
 18123,
 77997,
 89352,
 28207,
 31439,
 72467,
 88761,
 38268,
 71890,
 5420,
 34561,
 43333,
 36603,
 88267,
 47516,
 12713,
 81196,
 49216,
 76562,
 38172,
 14139,
 22111,
 22217,
 7984,
 27530,
 55137,
 81545,
 24366,
 58279,
 71084,
 48748,
 21263,
 1462,
 80842,
 41010,
 12378,
 38370,
 21075,
 18273,
 40926,
 84915,
 89829,
 28283,
 10085,
 64443,
 75597,
 31202,
 62972,
 59205,
 19816,
 89797,
 83934,
 6515,
 2051,
 83870,
 7763,
 18203,
 87080,
 34767,
 81199,
 75103,
 30794,
 32398,
 40997,
 34461,
 85543,
 21217,
 55070,
 37563,
 18500,
 85541,
 31677,
 63910,
 13836,
 60268,
 65039,
 85400,
 1464,
 7214,
 78470,
 62834,
 11836,
 66654,
 2895,
 8638,
 68527,
 5213,
 78556,
 60852,
 42931,
 15298,
 17378,
 68128,
 79460,
 56737,
 56795,
 88385,
 20057,
 89774,
 20094,
 27623,
 30883,
 85318,
 53087,
 73822,
 15655,
 68925,
 19186,
 77267,
 16883,
 67878,
 30717,
 80007,
 90947,
 46624,
 84389,
 77443,
 48917,
 60593,
 26042,
 17324,
 62593,
 77725,
 19669,
 40221,
 7894,
 23796,
 39665,
 31292,
 69989,
 74663,
 11395,
 12109,
 86876,
 23456,
 78406,
 5158,
 71478,
 65319,
 11685,
 28688,
 66802,
 83113,
 46527,
 88496,
 47270,
 73253,
 14422,
 37970,
 42758,
 82034,
 38117,
 49787,
 50314,
 75503,
 49629,
 51722,
 70512,
 66171,
 61897,
 35990,
 16923,
 31636,
 82263,
 33483,
 59597,
 31345,
 15989,
 83585,
 35606,
 74220,
 39243,
 68434,
 29729,
 90606,
 46003,
 39082,
 8370,
 21562,
 72108,
 70854,
 14788,
 18362,
 39977,
 15965,
 61913,
 45715,
 55972,
 33770,
 77332,
 10309,
 52298,
 37030,
 39697,
 1690,
 50557,
 88995,
 34319,
 81529,
 21414,
 45335,
 76940,
 38948,
 85369,
 29322,
 68960,
 27501,
 442,
 5642,
 58054,
 4238,
 88458,
 81732,
 66087,
 15021,
 51350,
 4492,
 49394,
 15235,
 1367,
 4693,
 73021,
 13783,
 36580,
 14634,
 24344,
 49289,
 43226,
 5099,
 44044,
 45597,
 52984,
 35470,
 80405,
 31855,
 15312,
 27524,
 28222,
 20827,
 23051,
 851,
 84950,
 6531,
 10469,
 69944,
 8015,
 74516,
 31478,
 60363,
 82126,
 13143,
 3878,
 78035,
 76752,
 74692,
 66822,
 9601,
 90952,
 15410,
 86160,
 22102,
 63871,
 349,
 43718,
 58462,
 30011,
 50785,
 65881,
 22718,
 85833,
 11744,
 19231,
 8012,
 34,
 28292,
 79533,
 61626,
 31214,
 14886,
 3292,
 79866,
 66557,
 3149,
 51685,
 12978,
 18857,
 69056,
 87947,
 77016,
 86235,
 19294,
 29545,
 71942,
 21603,
 51123,
 34785,
 50670,
 4241,
 50201,
 55989,
 5154,
 76320,
 41604,
 56818,
 26242,
 77063,
 46987,
 69560,
 57232,
 16612,
 39437,
 41534,
 43161,
 1197,
 36162,
 20387,
 86846,
 675,
 32818,
 49101,
 25045,
 42490,
 69762,
 8017,
 66632,
 90810,
 30800,
 30387,
 18483,
 70104,
 24718,
 76788,
 72071,
 87620,
 35726,
 7513,
 46502,
 65030,
 81478,
 67865,
 61450,
 3162,
 42436,
 35294,
 47382,
 1912,
 4780,
 17042,
 50535,
 23953,
 8635,
 7220,
 79064,
 49698,
 78824,
 90163,
 30263,
 19339,
 50803,
 78397,
 53209,
 79338,
 75120,
 74182,
 46725,
 2263,
 47802,
 89503,
 63035,
 51762,
 16259,
 64893,
 63687,
 69916,
 50738,
 19962,
 79200,
 26340,
 79429,
 59976,
 90729,
 20455,
 6293,
 7820,
 65864,
 12599,
 48890,
 58006,
 17417,
 72250,
 48398,
 32217,
 81217,
 19525,
 29567,
 81239,
 39041,
 29883,
 61844,
 60459,
 34978,
 47175,
 16093,
 32565,
 85798,
 59844,
 35232,
 23340,
 48208,
 19019,
 39831,
 34359,
 66308,
 87953,
 18142,
 61915,
 29254,
 1514,
 9423,
 46421,
 58323,
 29441,
 39899,
 17228,
 26906,
 74626,
 74480,
 49976,
 67632,
 86771,
 78612,
 84607,
 13778,
 52007,
 45198,
 28697,
 55431,
 13709,
 75726,
 22325,
 53214,
 7337,
 50167,
 82576,
 35758,
 88268,
 37141,
 62138,
 53260,
 25677,
 42550,
 61954,
 6346,
 83117,
 6374,
 14126,
 51457,
 13559,
 39945,
 40694,
 53314,
 10545,
 44332,
 86264,
 44048,
 664,
 48391,
 15060,
 90731,
 45324,
 42790,
 52757,
 61160,
 88453,
 78194,
 45431,
 66825,
 75080,
 23440,
 54677,
 75337,
 50641,
 36541,
 43977,
 29379,
 62889,
 45681,
 82827,
 386,
 43303,
 26789,
 529,
 77115,
 12392,
 87400,
 81849,
 30125,
 57548,
 20804,
 49499,
 89191,
 44363,
 57421,
 18907,
 15570,
 77622,
 81174,
 7770,
 26276,
 88525,
 28435,
 4610,
 12720,
 27168,
 41512,
 27504,
 53863,
 50713,
 6388,
 50138,
 8424,
 67768,
 13997,
 90351,
 50330,
 75947,
 82940,
 57058,
 90224,
 7272,
 79989,
 56835,
 36522,
 11847,
 15816,
 18922,
 70263,
 3117,
 27663,
 47915,
 6845,
 48239,
 60704,
 81353,
 88508,
 61434,
 77494,
 85216,
 24184,
 59868,
 81761,
 59426,
 9277,
 6975,
 61009,
 24744,
 69747,
 72139,
 85565,
 53902,
 2789,
 73712,
 64880,
 38878,
 39975,
 12936,
 39484,
 44747,
 71216,
 24865,
 74958,
 19350,
 36500,
 26829,
 28876,
 15185,
 69326,
 11112,
 28448,
 26173,
 35825,
 68833,
 57489,
 3023,
 72792,
 82354,
 27117,
 58597,
 4315,
 35852,
 75025,
 49262,
 68307,
 42753,
 51108,
 80756,
 34685,
 61661,
 57278,
 30959,
 53105,
 88807,
 37938,
 33856,
 57309,
 78651,
 11235,
 25622,
 42504,
 86450,
 61357,
 66472,
 85287,
 47051,
 79889,
 30676,
 21349,
 25383,
 49070,
 83074,
 17064,
 28205,
 8305,
 62627,
 81709,
 21030,
 42020,
 2815,
 32079,
 83527,
 33673,
 70129,
 31258,
 37487,
 65543,
 7618,
 55059,
 72911,
 43827,
 63719,
 68667,
 45024,
 72472,
 30713,
 6343,
 646,
 23029,
 41679,
 4158,
 83024,
 7174,
 90347,
 36695,
 57872,
 59112,
 1972,
 68563,
 37793,
 56324,
 75670,
 23712,
 56561,
 69079,
 28791,
 69243,
 44500,
 69397,
 75789,
 76073,
 77621,
 11001,
 23833,
 16668,
 46930,
 56351,
 28624,
 35359,
 36243,
 20823,
 14764,
 15019,
 69918,
 59348,
 12754,
 77555,
 35680,
 8585,
 25330,
 85848,
 7144,
 19796,
 86961,
 82208,
 30543,
 25706,
 66818,
 42961,
 4777,
 40297,
 44114,
 87830,
 27267,
 51742,
 45189,
 17156,
 82779,
 28921,
 44094,
 90114,
 58065,
 50310,
 67646,
 85642,
 38933,
 12768,
 65437,
 46056,
 17407,
 44035,
 68547,
 ...]